<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <img style="height:40px; width: 40px;" src="../../../assets/img/angular_sm.svg" alt="angular svg">
        &nbsp;&nbsp;<a class="navbar-brand"
       [routerLink]="['/init']">Angular14 Sandbox II</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             (click)="hideButton()"
             [routerLink]="['/home']"
             [routerLinkActive]="['active']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            (click)="hideButton()"
             [routerLink]="['/about']"
             [routerLinkActive]="['active']">About</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" (click)="setBlankValue()" href="#" data-bs-toggle="dropdown" aria-expanded="false">Ng-Material</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="nav-link dropdown-item"
              (click)="hideButton()"
              [routerLink]="['/right-click']"
              [routerLinkActive]="['active']">Right-click</a></li>
            <li>
              <a class="dropdown-item nav-link"
              (click)="hideButton()"
              [routerLink]="['/sidenav']"
              [routerLinkActive]="['active']">Sidenav</a></li>
            <li>
              <a class="dropdown-item nav-link"
              (click)="hideButton()"
              [routerLink]="['/modal']"
              [routerLinkActive]="['active']">Modal</a></li>
            <li>
              <a class="dropdown-item nav-link"
              (click)="hideButton()"
              [routerLink]="['/mat-components']"
              [routerLinkActive]="['active']">Components</a></li>
            <li class="nav-item">
              <a class="nav-link"
              (click)="hideButton()"
              [routerLink]="['/breadcrumb']"
              [routerLinkActive]="['active']">Breadcrumb</a></li>
              <!-- <li class="nav-item">
                <a class="nav-link"
                (click)="hideButton()"
                [routerLink]="['/breadcrumb2']"
                [routerLinkActive]="['active']">Breadcrumb2</a></li> -->
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link2 separator"></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" (click)="setBlankValue()" href="#" data-bs-toggle="dropdown" aria-expanded="false">Material - CRUD</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li class="nav-item">
              <a class="nav-link"
                (click)="setCourseValue()"
                [routerLink]="['/courses']"
                [routerLinkActive]="['active']">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 (click)="setPostValue()"
                 [routerLink]="['/posts']"
                 [routerLinkActive]="['active']">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 (click)="setUserValue()"
                 [routerLink]="['/users']"
                 [routerLinkActive]="['active']">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 (click)="setProductValue()"
                 [routerLink]="['/products']"
                 [routerLinkActive]="['active']">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"

                 [routerLink]="['/countries']"
                 [routerLinkActive]="['active']">Countries</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             (click)="setLoginValue()"
             [routerLink]="['/login']"
             [routerLinkActive]="['active']">Login</a>
        </li>

      </ul>

      <app-header-button *ngIf="addMode"
            [buttonLabel]="buttonLabel"></app-header-button>

    </div>
  </div>
</nav>
