<div class="form-container">

  <h1 *ngIf="!this.editData" mat-dialog-title>Add User</h1>
  <h1 *ngIf="this.editData" mat-dialog-title>Update User</h1>

  <div mat-dialog-content>
    <form [formGroup]="userForm">
      <!-- form fields -->
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput
               formControlName="name"
               placeholder="User Name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email"
               placeholder="User Email">
      </mat-form-field>

      <!-- <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput
               formControlName="address"
               placeholder="User Address">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <input matInput
               formControlName="company"
               placeholder="User Company">
      </mat-form-field> -->

      <mat-form-field appearance="outline">
        <mat-label>Web</mat-label>
        <input matInput
               formControlName="website"
               placeholder="User Website">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput
               formControlName="phone"
               placeholder="User Phone">
      </mat-form-field>

    </form>
  </div>

  <div mat-dialog-actions
       [align]="'end'">
    <button mat-raised-button
            color="warn"
            mat-dialog-close>Close</button>
    <button type="button"
            style="margin-left: 8px;"
            mat-raised-button
            color="primary"
            [disabled]="userForm.invalid"
            (click)="addUser()">{{ actionBtn }}</button>
  </div>
</div>
