<p class="padding-28">Angular Material components demo page</p>

<!-- <div>Mat Chip listbox</div> -->




<div id="material-example">

  <mat-toolbar color="primary">

        <span>Material Design Rocks!</span>

  </mat-toolbar>

   <br/>


 <mat-card>

  <h2>Buttons</h2>
  <button mat-button>Basic</button>
  <button mat-raised-button>Raised</button>
  <button mat-icon-button><mat-icon>favorite</mat-icon></button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>mFab</button>
  <br>
  <br>
  <h2>Badge</h2>
  <button mat-raised-button
        color="primary"
        matBadge="14">
      Action
  </button>
  <br>
  <br>
  <h2>Tooltip</h2>
    <button mat-raised-button
            matTooltip="Tooltips in Angular">
      Tooltip
    </button>
  <br>

   <!-- <mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option>One fish</mat-chip-option>
    <mat-chip-option>Two fish</mat-chip-option>
    <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
    <mat-chip-option color="warn">Warn fish</mat-chip-option>
  </mat-chip-listbox> -->


</mat-card>

</div>

<!-- <p>Default Chip List</p>

<mat-chip-list aria-label="Fish selection">
	<mat-chip color="primary" selected>
		Primary theme chip
	</mat-chip>

	<mat-chip color="accent" selected>
		Accent theme chip
	</mat-chip>

	<mat-chip color="warn" selected>
		Warn theme chip
	</mat-chip>

	<mat-chip>Default theme chip </mat-chip>
</mat-chip-list> -->
<br>


