
<h1 *ngIf="!this.editData" mat-dialog-title>Add Login</h1>
<h1 *ngIf="this.editData" mat-dialog-title>Update Login</h1>

<div mat-card>
  <form [formGroup]="loginForm">
    <!-- form fields -->
    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input matInput
             formControlName="username"
             placeholder="User Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput
             formGroupName="firstname"
             formControlName="firstname"
             placeholder="First Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput
             formlGroupName="lastname"
             formControlName="lastname"
             placeholder="Last Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             formlGroupName="email"
             formControlName="email"
             placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date"
             title="input"
             matInput
             [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Active</mat-label>
      <mat-select placeholder="Active"
                  formControlName="active">
        <mat-option value="true">True</mat-option>
        <mat-option value="false">False</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select placeholder="Role"
                  formControlName="role">
        <mat-option value="user">User</mat-option>
        <mat-option value="admin">Admin</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions
     [align]="'end'">
  <button mat-raised-button
          color="warn"
          mat-dialog-close>Close</button>
  <button type="button"
          style="margin-left: 8px;"
          mat-raised-button
          color="primary"
          [disabled]="loginForm.invalid"
          (click)="addLogin()">{{ actionBtn }}</button>
</div>
